body {
    /* set to relative to position footer absolutely to it */
    position: relative;
    /* pins footer to the bottom if not enough content on the page */
    min-height: 100vh;
}

.container {
    /* padding prevents footer from overlapping */
    padding-bottom: 6rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 4rem;
    width: 100%;
    /* pins footer to the bottom of container */
    bottom: 0;
}

.slide {
    object-fit: cover;
}

.carousel-item {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

@media screen and (min-width: 768px) {
    .product-form {
        width: 550px;
    }
}